

.card {
    // height: 240px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin:auto;
}
.container {
    background: black;
}

.envelope {
    // margin-left: 15px;
    margin-bottom: 0;
    font-size: 1.2em;
}

.col-3 {
    flex: 0 0 14%;
    max-width: 25%;
    padding: 0;
    border: 0;
}
.specialCard {
    // height: 49%;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    // width: 330px !important;
    background-color: gainsboro;
   
}

.dropdown-toggle{
    background-color: white;
    width: 100%;
    margin-bottom: 8px;
}

.prices {
    margin-left: 15px;
    margin-bottom: 7px;
}

.filterButton {
    width: 100%;
    background-color: darkkhaki;
    margin-top: 9px;
    color: white;
    // margin-left: 18px;
}


.searchRow {
    width: 99%;
}

.cursor {
    cursor: default;

}

.mobile-col {
    color: white;
}

.noValues {
    margin-left: 111px;
    color: black;
}

.call {
    margin-right: 28px;
    /* margin-bottom: -7px; */
    margin-top: -8px;
    border: 0;
    outline: none;
    background-color: inherit;
    margin: auto;
}
.info {
    margin-top: -8px;
    border: 0;
    outline: none;
    background-color: inherit;
    margin: auto;
}
.createButton {
    background-color: #444444;
    margin-top: 9px;
    color: white;
    // margin-left: 18px;
    width: 100%;
}

i{
    border: 0;
    outline: none;
}

// Phones
@media (max-width: 992px) { 

    div, button, p, input, span {
        font-size: 13px;
    }

    h4 {
        font-size: 16px !important;
        color: #444444
    }

    h5 {
        font-size: 16px;
        font-weight: 800;
        color: #444444;
    }

    .col-4 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .mobile-col {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .card {
        margin-top: 23px;
        height: auto;

    }

    .no-gutters {
        // border: 1px solid palegoldenrod;
        margin-bottom: 23px;
    }

    .card-body {
        background-color: white !important;
    }

    // .info {
    //     background-color: inherit;
    //     margin: auto;
    // }

    // .call {
    //     background-color: inherit;
    //     margin: auto;
    // }

}
