<div class="container">
  <br />
  <div class="row searchRow">
    <p class="col cursor">Se encontraron {{ amount }} resultados:</p>
    <!-- <input class="col" class="inputSearch col" type="text" value="Madrid" /> -->
    <div class="input-group mb-3 col">
      <input
        type="text"
        class="form-control"
        [placeholder]="location"
        aria-label="Recipient's username"
        aria-describedby="button-addon2"
        (change)="updateLocation($event)"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="button-addon2"
          (click)="filterApply()"
        >
          Buscar
        </button>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-3">
      <div class="specialCard">
        <div class="dropdown">
          <button
            class="btn dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ action }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <p class="dropdown-item" (click)="actionSelected('Comprar')">
              Comprar
            </p>
            <p class="dropdown-item" (click)="actionSelected('Alquiler')">
              Alquiler
            </p>
          </div>
        </div>
        <div class="dropdown">
          <button
            class="btn dropdown-toggle"
            type="button"
            id="dropdownMenuButton2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ type }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <p
              class="dropdown-item"
              *ngFor="let option of options"
              (click)="kindSelected(option)"
            >
              {{ option }}
            </p>
          </div>
        </div>

        <p class="prices cursor">Precio(&#8364;)</p>
        <div class="dropdown">
          <button
            class="btn dropdown-toggle"
            type="button"
            id="dropdownMenuButton2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span> {{ priceMin.toLocaleString() }}</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <p
              class="dropdown-item"
              *ngFor="let price of prices"
              (click)="priceMinSelected(price)"
            >
              {{ price.toLocaleString() }}&#8364;
            </p>
          </div>
        </div>
        <div class="dropdown">
          <button
            class="btn dropdown-toggle"
            type="button"
            id="dropdownMenuButton2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span> {{ priceMax.toLocaleString() }}</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <p
              class="dropdown-item"
              *ngFor="let price of prices"
              (click)="priceMaxSelected(price)"
            >
              {{ price.toLocaleString() }}&#8364;
            </p>
          </div>
        </div>
      </div>

      <button class="btn filterButton" type="button" (click)="filterApply()">
        Aplicar filtros
      </button>

      <button
        class="btn createButton"
        type="button"
        (click)="goToUploadScreen()"
      >
        Crear propiedad
      </button>
    </div>
    <div class="col" *ngIf="!noValues">
      <div
        class="card mb-3"
        style="max-width: 740px;"
        *ngFor="let property of properties"
      >
        <div class="row no-gutters">
          <div class="col-md-4">
            <img [src]="property.images[0].path" class="card-img" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title cursor">{{ property.title }}</h4>
              <h5 class="card-text cursor">
                {{ property.priceToString }}&#8364;
              </h5>
              <p class="card-text cursor">
                {{ truncateString(property.description, 46) }}
              </p>
              <div class="row justify-content-end">
                <button class="col-3 info" *ngIf="isLogin">
                  <i class="fas fa-edit"></i>
                  <p class="card-text">
                    <small class="text-muted">Editar</small>
                  </p>
                </button>
                <button
                  class="col-3 info"
                  (click)="delete(property.property_id)"
                  *ngIf="isLogin"
                >
                  <i class="fas fa-trash"></i>
                  <p class="card-text">
                    <small class="text-muted">Eliminar</small>
                  </p>
                </button>
                <button class="col-3 info" (click)="goToDetail(property)">
                  <i class="fas fa-plus envelope"></i>
                  <p class="card-text">
                    <small class="text-muted">Ver más</small>
                  </p>
                </button>
                <button class="col-3 call">
                  <i class="fas fa-envelope envelope"></i>
                  <p class="card-text">
                    <small class="text-muted">Contactar</small>
                  </p>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" *ngIf="noValues">
      <div class="row" style="max-width: 740px;">
        <span class="noValues"
          >No se encontraron inmuebles con las caracteristicas
          especificadas</span
        >
      </div>
    </div>
  </div>
</div>
