<!-- <span class="home">Camporota Gruop</span> -->
<nav class="navbar color" *ngIf="!loginForm">

    <div class="navbar-brand row" href="#">
        <div class="col">
            <div>
                <img src="../../../assets/img/logo.JPG" width="50" height="50" alt="" class="logo">
                <span class="home">Camporota Gruop</span>
            </div>
        </div>

        <div class="col-1 loginIcon" (click)="goToLogin()">
            <i class="fas fa-user-circle"></i>
        </div>
        <span (click)="goToLogin()" class="logIn">Iniciar sesión</span>
    </div>
    <!-- <div class="row justify-content-end">
        <span>Iniciar sesión</span>
    </div> -->
</nav>