
.col {
    border: 0;
    outline: none;
    cursor: pointer;
}

.home{
    font-family: 'Kapsalon-Regular';
    font-size: 42px;
    color: white;
    margin-left: 5px;
    cursor: pointer;
}

span:focus{
    color: white;
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: -webkit-fill-available !important; 
}

.col-1 {

    flex: 0 0 6.333333%;
    max-width: 0.33%;
    
}

.logo {
    margin-top: -14px;
}

.color {
    background-color: black;
}

.loginIcon {
    color: darkkhaki;
    font-size: 2em;
    cursor: pointer;
}

.logIn {
    position: relative;
    top: 49px;
    font-size: 12px;
    right: 30px;
    color: white;
    cursor: pointer;
    
}

