nav {
    outline: 1px solid palegoldenrod;
}

.navbar {
    height: 80px;
}
.col {
    border: 0;
    outline: none;
    cursor: pointer;
}

.home{
    font-family: 'Kapsalon-Regular';
    font-size: 40px;
    color: white;
    margin-left: 5px;
    cursor: pointer;
}

span:focus{
    color: white;
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: -webkit-fill-available !important; 
    // align-items: center;
}

.navbar-brand {
    height: 80px;
}


.logo {
   margin: unset;
}

.color {
    background-color: black;
}

.loginIcon {
    color: darkkhaki;
    font-size: 2em;
    cursor: pointer;
    padding-right: 30px;
}

.logIn {
    color: darkkhaki;
    font-size: 2em;
    cursor: pointer;
    padding-right: 4%;
    
}

.icon-col {
    margin-left: 5px;
}

.margin-auto {
    margin: auto;
}

.icon-span {
    color: white;
    font-size: 13px;

}

// Phones
@media (max-width: 414px) { 

    .loginIcon {
        color: darkkhaki;
        font-size: 1.3em;
        cursor: pointer;
        padding-right: 30px;
    }

    .navbar {
        padding-top: 15px;
    }

    .home {
        font-family: "Kapsalon-Regular";
        font-size: 30px;
        color: white;
        margin-left: 5px;
        cursor: pointer;
    }

    img {
        height: 40px !important;
        width: 40px !important;
    }

    .icon-span {
        color: white;
        font-size: 11px;
    }
}

