<!-- <span class="home">Camporota Gruop</span> -->
<nav class="navbar color" *ngIf="!loginForm">

    <div class="navbar-brand row" href="#">
        <div class="col" routerLink="/home"> 
            <div class="icon-col row">
                <img src="../../../assets/img/logo.JPG" width="50" height="50" alt="" class="logo">
                <span class="home">Camporota Gruop</span>
            </div>
        </div>

        <div class="col-1 loginIcon" (click)="goToLogin()" *ngIf="!isLogin">
            <div class="row justify-content-end margin-auto">
                    <i class="fas fa-user-circle"></i>
                    <span (click)="goToLogin()" *ngIf="!isLogin" class="icon-span">Iniciar sesión</span>
            </div>

        </div>
    

        <div class="col-2 loginIcon" (click)="goToLogout()" *ngIf="isLogin">
            <div class="row justify-content-end margin-auto">
                    <i class="fas fa-user-circle"></i>
            </div>
            <div class="row justify-content-end">
                    <span (click)="goToLogout()" *ngIf="isLogin" class="icon-span">Cerrar sesión</span>
            </div>
        </div>


        
    </div>
    <!-- <div class="row justify-content-end">
        <span>Iniciar sesión</span>
    </div> -->
</nav>