
#carouselExampleIndicators {
    height: 500px !important;
}
.hidden {
    // margin-bottom: 40px;
    overflow: hidden;
    background: #222 url('../../../assets/img/fondo.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
}

.home{
    font-family: 'Kapsalon-Regular';
    font-size: 42px
}
.carousel-item{
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
img {
    height: 500px;
}
.backgroudColors {
    background-color: black;
}
.find {
    color: white;
    margin-top: -12px;
    font-size: 2em;
    font-family: 'Kapsalon-Regular';
}
.buttonGrouped {
    margin-top: 12px;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    // background-color: #f1f1f1;
    background-color: black;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    // border: none;
    // outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: darkkhaki;
    color: black;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: darkkhaki;
    color: black;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  .dropdown-toggle::after {
    display:none;
}
.fixedSize {
    width: 300px;
    height: 45px;
    background-color: black;
    color: darkkhaki;
    border: 1px solid darkkhaki;
    border-radius : 0;
    outline: 1px solid;
}

.arrow {
    background-color: #343a40;
    color: #ccc;
}
.col-5 {
    padding: 0;
}
.input{
    height: initial;
    border-radius: 0px;
    padding-left: 10px;
    outline: 1px solid palegoldenrod;
}

.btn {
    outline: 1px solid palegoldenrod !important;
}

.container {
    height: 190px;
    top: 21px;
    position: relative;
}

.location-icon {
    font-size: 3em; 
    color: darkkhaki;
}

// Phones
@media (max-width: 414px) { 
    img {
        height: 350px !important;
    }

    #carouselExampleIndicators {
        height: 350px !important;
    }

    .carousel-inner {
        height: 350px !important;
    }

    .location-icon {
        font-size: 2.5em; 
        color: darkkhaki;
    }

    .find {
        font-size: 1.8em;
        font-family: "Kapsalon-Regular";
    }

    .tab{
        height: 48px;
    }

    button {
        font-size: 13px !important;
    }

    .location-input {
        flex: 0 0 58.333333% !important;
        max-width: 58.333333% !important;
        font-size: 13px;
    }

    .search-button {
        height: 40px;
        outline: 1px solid palegoldenrod;
    }
}