/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Kapsalon;
    src: url("assets/fonts/Kapsalon\ DEMO.otf") format("opentype");
  }

  @font-face {
    font-family: Kapsalon-Regular;
    src: url("assets/fonts/Kapsalon\ Print\ DEMO.otf") format("opentype");
  }


  html, body {
    margin: 0 !important;
    padding: 0 !important;
    width: -webkit-fill-available !important;
    background: #222 url('assets/img/fondo.jpg') center center;
    background-size: cover;
  }

//   @font-face {
//     font-family: Traffolight;
//     src: url("assets/fonts/Traffolight.otf") format("opentype");
//   }
  