label {
    color: palegoldenrod;
}

.background {
  // background-color: darkkhaki;
  width: 100vw;
  height: 100vh;
}

.font {
  font-family: 'Kapsalon-Regular';
  font-size: 56px
}

#cover-caption {
  width: 100%;
  position: relative;
  z-index: 1;
}

/* only used for background overlay not needed for centering */
form:before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: -1;
  border-radius: 10px;
}

.lightBlue{
  background-color: #444444;
  color: white;
  border: 1px solid palegoldenrod;
  border-radius: 5px;
}


.min-vh-100 {
  background-color: black;
}


// Phones
@media (max-width: 414px) { 

  .font {
    font-size: 48px;
  }

  .lightBlue {
    font-size: 15px;
  }
}